* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

form,
video,
iframe,
audio,
img {
    max-width: 100%;
    vertical-align: bottom;
}
ul{
  margin: 0;
  padding: 0;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

a:focus {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration: none;
}

/* inicializacion de layout */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    width: 100vw;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    background-color: #fff;
    color:#777;
}

/* Personalizando */
header, main, footer{

  width: 100%;
  
}
main{
  margin-top: 5em;
}

.content{
  width: 90%;
  margin:auto;
}

nav {
  font-family: product sans;
  font-size: 14px;
  width: 100%;
  margin-top: .5em;
  height: 2.5em;;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul{
  display: flex;
  align-items: center;
  height: auto;
  /* margin-right: 30px;
  width:250px; */

  
}
nav ul li{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;

}
nav ul li{
  margin-right: 16px;
}
a:hover{
    text-decoration: underline;
    color:#262626;
}

nav .icon-menu{
  background-image: url(../img/iconos/apps-24px.svg);
}

nav .foto{
  background-image:url(https://lh3.googleusercontent.com/-8q-mPB8okto/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rfWEDqpkIQiOv6FK_QErDHn7bZIYw.CMID/s32-c/photo.jpg);
  border-radius: 50%;
}
nav .icon-menu,.foto{
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 30px;
  height: 30px;
}

nav .icon-menu{
  width: 23px;
  height: 23px;
}

.caja-busqueda{
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #fff; */
  
}

.bg-box-busqueda{
  display: flex;
  background-color: #fff;
  height: 2em;
}

.bg-box-busqueda input{
  background-color: transparent;
}
