* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

form,
video,
iframe,
audio,
img {
    max-width: 100%;
    vertical-align: bottom;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

a:focus {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration: none;
}

/* inicializacion de layout */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    width: 100vw;
}

body {
    font-family: product sans;
    font-size: 18px;
    font-weight: normal;
    background-color: #fff;
    color: #222;
}

/* Personalizando */

#avatar img{
  border-radius: 50%;
  width: 10%;
  height: 10%;
}