* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

form,
video,
iframe,
audio,
img {
    max-width: 100%;
    vertical-align: bottom;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

a:focus {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration: none;
}

/* inicializacion de layout */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    width: 100vw;
}

body {
    font-family: product sans;
    font-size: 18px;
    font-weight: normal;
    background-color: #fff;
    color: #222;
}

/* Personalizando */
header, main, footer{
  display: flex;
  width: 100%;
  
}
main{
  background-color: coral;
  margin-top: 5em;
}

.content{
  width: 90%;
  margin:auto;
  background-color: red;
}

nav {
  font-size: 0.85em;;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  padding: 0 1em;
  margin-right: 2em;
  width:200px;
  background-color: aqua;
}
nav ul li{
  display: flex;
  justify-content: center;
  padding: 0 3em;
  vertical-align: center;
  padding: 0;
  margin-right:;
  background-color: red;
}
nav ul li a{
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0;
  background-color: yellow;
}
a:hover{
    text-decoration: underline;
    /* text-decoration: none; */
}

nav .redon-img{
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}
nav .avatar{
  width: auto;
  height: 100%;
  margin-left: 0%;
  
}

header li {
  
}


main img{
  width: 20%;
}

main form img{
  width: 10%;
}

.caja-busqueda{
 
  margin-top: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #fff; */
  
}

.bg-box-busqueda{
  display: flex;
  background-color: #fff;
  height: 2em;
}

.bg-box-busqueda input{
  background-color: transparent;
}
